@charset "ISO-8859-1";

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}
.box{
	border: 1px;
}

.container {
	width: 80%;
	height: 30%;
}
hr{
	border: none;
	height:2px;
	color: #333;
	background-color:#333;
}

.section-headline{}
